.one {
  position: relative;
  display: inline-block;
}

.btn {
  background-color: rgb(245, 106, 166);
  color: white;
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 200px;
  box-shadow: 0px 4px 8px rgba(4, 4, 4, 0.2);
  border-radius: 6px;
  margin-top: 5px;
  z-index: 1;
}

.content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.content a:hover {
  background-color: rgb(247, 74, 152);
}

.one:hover .content {
  display: block;
}

.one:hover .btn {
  background-color: rgb(247, 74, 152);

}


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 60px;
  background-color: rgb(214, 246, 235);
  border-bottom: 1px solid #eee;
  position: fixed;
  width: 100vw;
}
.btn1{
  background-color: rgb(245, 106, 166);
  color: white;
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}
.navbar input{
  background-color: rgb(245, 106, 166);
  padding: 10px 16px;
  font-size: 16px;
  border: none;
  border-radius: 6px;
}
.navbar input:hover{
  background-color: white;
}
.btn1:hover{
  background-color: rgb(247, 74, 152);
}


