body{
    font-family: sans-serif;
    background-color: rgb(214, 246, 235);

}
.mydata{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 35%;
    padding: 25px;
    box-shadow: 2px 3px 15px gray;  
    margin-top: 10%;  
    background-color: white;

}
.myform{
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;


}
.myform label{
    background-color: white;
}
.myform i{
    background-color: white;

}
.mydata h1{
    text-align: center;
    background-color: white;
    color: rgb(232, 35, 35);

}
.myform input{
    padding: 10px;
    margin-top: 1%;
    margin-bottom: 2%;
    border-radius: 5px;
    border: 0.5px solid gray;
    background-color: white;

}

.btn{
    background-color: blue;
    color: white;
    padding: 5px;
    border: none;
    border-radius: 10px;
    width: 100px;
    margin-left: 120px;
    margin-top: 10%;

}
