body {
    font-family: Arial, sans-serif;
    background-color: rgb(214, 246, 235);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.upload-box {
    background-color: #ffffff;
    padding: 30px;
    width: 300px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.upload-box label {
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

input[type="file"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

input[type="file"]::file-selector-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

input[type="file"]::file-selector-button:hover {
    background-color: #0056b3;
}
.btn{
    background-color: #ff0000;
    margin-top: 10%;
    padding: 8px 8px;
    border-radius: 4px;
    color: white;
    border: none;
}